extends ../layout

block content
  h1 Name: #{role.name} 

  p #[strong Description: ] #{role.brief_description}
 

  hr
  p
    a(href=role.url+'/delete') Delete Book
  p
    a(href=role.url+'/update') Update Book