extends ../layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Team name:
      input#name.form-control(type='text', placeholder='Name of the team' name='name' value=(undefined===team ? '' : team.name))
    div.form-group
      label(for='acronym') Acronym name:
      input#acronym.form-control(type='text', placeholder='Max six characters' name='acronym' value=(undefined===team ? '' : team.acronym_name))
    div.form-group
      label(for='year_created') Year created:
      input#year_created.form-control(type='date', name='year_created' value=(undefined===team ? '' : team.year_created_yyyy_mm_dd))
    div.form-group
      label(for='ranking_hltv') Ranking hltv:
      input#ranking_hltv.form-control(type='number', placeholder= 'Current ranking', name='ranking_hltv' value=(undefined===team ? '' : team.ranking_hltv))
    div.form-group
      label(for='brief_description') Description:
      textarea#brief_description.form-control( placeholder='brief description' name='brief_description') #{undefined===team ? '' : team.brief_description}
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
